:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --white-text-color: #FFFFFF;
  --accent-color: #2196F3;
  --primary-background-color: #FFFFFF;
  --secondary-background-color: #F5F4FA;
  --footer-background-color: #2F303A;
  --transition-dur-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.no-padding-top {
  padding-top: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  color: var(--primary-text-color);
  background-color: var(--primary-background-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.logo {
  font-family: Raleway, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.1666666667;
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    font-weight: 700;
    line-height: 1.1923076923;
  }
}

.logo__part {
  color: var(--accent-color);
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: var(--primary-background-color);
  visibility: hidden;
  pointer-events: none;
  transform: translateX(100%);
  transition: transform var(--transition-dur-and-func), visibility var(--transition-dur-and-func);
}

.mobile-menu.is-open {
  transform: translateX(0);
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu__container {
  position: relative;
  padding-left: 40px;
  padding-top: 48px;
  padding-bottom: 48px;
}

.mobile-menu__close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  border: none;
  padding: 0;
  background-color: transparent;
  line-height: 0;
  cursor: pointer;
}

.mobile-menu__close-icon {
  fill: var(--primary-text-color);
  transition: fill var(--transition-dur-and-func);
}
.mobile-menu__close-icon:hover, .mobile-menu__close-icon:focus {
  fill: var(--accent-color);
}

.mobile-menu__site-nav {
  margin-bottom: 302px;
}

.mobile-menu__site-nav-item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu__site-nav-link {
  color: var(--primary-text-color);
  font-size: 40px;
  font-weight: 500;
  line-height: 1.175;
  letter-spacing: 0.02em;
  transition: color var(--transition-dur-and-func);
}
.mobile-menu__site-nav-link:hover, .mobile-menu__site-nav-link:focus {
  color: var(--accent-color);
}

.mobile-menu__site-nav-link--current {
  color: var(--accent-color);
}

.mobile-menu__contacts {
  margin-bottom: 64px;
}

.mobile-menu__contacts-item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu__contacts-link-tel,
.mobile-menu__contacts-link-mail {
  color: var(--secondary-text-color);
  letter-spacing: 0.02em;
  transition: color var(--transition-dur-and-func);
}
.mobile-menu__contacts-link-tel:hover, .mobile-menu__contacts-link-tel:focus,
.mobile-menu__contacts-link-mail:hover,
.mobile-menu__contacts-link-mail:focus {
  color: var(--accent-color);
}

.mobile-menu__contacts-link-tel {
  font-size: 34px;
  font-weight: 500;
  line-height: 1.1764705882;
}

.mobile-menu__contacts-link-mail {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.1666666667;
}

.mobile-menu__social-list {
  display: flex;
}

.mobile-menu__social-list-item {
  padding-left: 10px;
  padding-right: 10px;
}
.mobile-menu__social-list-item:first-child {
  padding-left: 0;
}
.mobile-menu__social-list-item:last-child {
  padding-right: 0;
}
.mobile-menu__social-list-item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mobile-menu__social-list-link {
  color: var(--secondary-text-color);
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2222222222;
  letter-spacing: 0.02em;
  transition: color var(--transition-dur-and-func);
}
.mobile-menu__social-list-link:hover, .mobile-menu__social-list-link:focus {
  color: var(--accent-color);
}

.button {
  display: inline-block;
  color: var(--white-text-color);
  background-color: var(--accent-color);
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 1px solid transparent;
  transition: background-color var(--transition-dur-and-func);
}
.button:hover, .button:focus {
  background-color: #188CE8;
}

.section-title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;
}

.social-list {
  display: flex;
  justify-content: center;
  column-gap: 10px;
}

.social-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color var(--transition-dur-and-func);
}
.social-list__link:hover, .social-list__link:focus {
  background-color: var(--accent-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1), visibility 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  padding: 40px;
  background-color: var(--primary-background-color);
  transform: translate(-50%, -50%) scale(1);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  padding: 0;
  cursor: pointer;
  transition: fill var(--transition-dur-and-func);
}
.modal-close-btn:hover, .modal-close-btn:focus {
  fill: var(--accent-color);
}

.modal-form-title {
  margin-top: 0;
  margin-bottom: 12px;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
  text-align: center;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-field {
  margin-bottom: 10px;
}

.modal-form-field-desc {
  display: block;
  font-size: 12px;
  line-height: 1, 7;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
  margin-bottom: 4px;
}

.modal-form-input-wrapper {
  position: relative;
  display: block;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color var(--transition-dur-and-func);
  font-size: 12px;
  letter-spacing: 0.01em;
}
.modal-form-input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-input-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  transition: fill var(--transition-dur-and-func);
}
.modal-form-input:focus + .modal-form-input-icon {
  fill: var(--accent-color);
}

.modal-form-field-textarea {
  margin-bottom: 20px;
}

.modal-form-message {
  display: block;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  transition: border-color var(--transition-dur-and-func);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}
.modal-form-message::placeholder {
  font-size: 12px;
  line-height: 1, 17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form-message:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.modal-form-own-check {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--primary-text-color);
  border-radius: 2px;
  fill: var(--white-text-color);
  cursor: pointer;
  margin-right: 7px;
  transition: background-color var(--transition-dur-and-func);
}
.modal-form-check:checked + .modal-form-own-check {
  background-color: var(--accent-color);
  border: none;
}
.modal-form-check:focus + .modal-form-own-check {
  border-color: var(--accent-color);
}

.modal-form-check-icon {
  display: none;
  fill: var(--white-text-color);
}
.modal-form-check:checked + .modal-form-own-check .modal-form-check-icon {
  display: block;
}

.modal-form-checkbox-policy {
  font-weight: 400;
  line-height: 1.71;
  color: #757575;
}

.modal-form-checkbox-policy-link {
  text-decoration-line: underline;
  color: var(--accent-color);
}
.modal-form-checkbox-policy-link:hover {
  text-decoration-line: none;
}

.modal-form-submit {
  align-self: center;
  width: 200px;
  padding: 10px 52px;
}

.site-nav {
  display: none;
}

.header-contacts {
  display: none;
}

.logo--color_dark {
  color: #000000;
}

.page-header {
  position: relative;
  border-bottom: 1px solid #ECECEC;
}

.page-header__container {
  display: flex;
  height: 60px;
  align-items: center;
  justify-content: space-between;
}

.open-mobile-menu-btn {
  border: none;
  padding: 0;
  background-color: transparent;
  line-height: 0;
  cursor: pointer;
}

.open-mobile-menu-btn__icon {
  fill: var(--primary-text-color);
  cursor: pointer;
  transition: fill var(--transition-dur-and-func);
}
.open-mobile-menu-btn__icon:hover, .open-mobile-menu-btn__icon:focus {
  fill: var(--accent-color);
}

/* site-navigation */
/* contacts-header */
.hero {
  background-color: #2F303A;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/Img_hero.jpg");
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  color: var(--white-text-color);
  font-size: 44px;
  font-weight: 900;
  line-height: 1.3636363636;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero_button {
  min-width: 216px;
  padding: 10px 32px;
}

.about-list {
  display: flex;
}
.about-list .title-text {
  padding-top: 30px;
}
.about-list .title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 10px;
}
.about-list .text {
  color: var(--secondary-text-color);
  line-height: 1.71;
  margin-top: 0;
  margin-bottom: 0;
}

.about-list-item {
  width: calc((100% - 90px) / 4);
  margin-right: 30px;
}
.about-list-item:nth-child(4n) {
  margin-right: 0;
}
.about-list-item::before {
  content: "";
  display: block;
  height: 120px;
  background-color: var(--secondary-background-color);
  background-repeat: no-repeat;
  background-position: center;
}

.icon-antenna::before {
  background-image: url("../images/icon/about/antenna.svg");
}

.icon-clock::before {
  background-image: url("../images/icon/about/clock.svg");
}

.icon-diagram::before {
  background-image: url("../images/icon/about/diagram.svg");
}

.icon-astronaut::before {
  background-image: url("../images/icon/about/astronaut.svg");
}

.work-list {
  display: flex;
}
.work-list .item-content {
  position: relative;
}
.work-list .text {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70px;
  margin: 0;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1428571429;
  text-align: center;
  text-transform: uppercase;
  color: var(--white-text-color);
  background-color: rgba(47, 48, 58, 0.8);
}

.work-list-item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.work-image {
  display: block;
}

.team-section {
  background-color: var(--secondary-background-color);
}

.team-list {
  display: flex;
}

.team-list-position {
  width: calc((100% - 90px) / 4);
  background-color: var(--primary-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-list-position:not(:nth-child(4n)) {
  margin-right: 30px;
}

.team-list-position-image {
  display: block;
}

.team-list-position-item {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}
.team-list-position-item .member {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.1875;
}
.team-list-position-item .position {
  margin-top: 0;
  margin-bottom: 16px;
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.19;
}

.team-social-list-link {
  background-color: var(--primary-background-color);
}

.team-social-list-icon {
  width: 20px;
  height: 20px;
  fill: #AFB1B8;
  transition: fill var(--transition-dur-and-func);
}
.social-list__link:hover .team-social-list-icon, .social-list__link:focus .team-social-list-icon {
  fill: #FFFFFF;
}

.clients-list {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.clients-list-item {
  width: calc((100% - 150px) / 6);
}

.clients-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 92px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  transition: border var(--transition-dur-and-func);
}
.clients-list-link:hover, .clients-list-link:focus {
  border: 1px solid var(--accent-color);
}

.clients-list-icon {
  fill: #AFB1B8;
  transition: fill var(--transition-dur-and-func);
}
.clients-list-link:hover .clients-list-icon, .clients-list-link:focus .clients-list-icon {
  fill: var(--accent-color);
}

.footer {
  background-color: var(--footer-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-contacts-social {
  display: flex;
  align-items: baseline;
}

.footer-logo-contacts {
  margin-right: 70px;
}

.logo--color_light {
  color: var(--white-text-color);
  display: block;
  margin-bottom: 20px;
}

.footer-contacts__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-contacts__link {
  color: var(--white-text-color);
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  transition: color var(--transition-dur-and-func);
}
.footer-contacts__item:hover .footer-contacts__link, .footer-contacts__item:focus .footer-contacts__link {
  color: var(--accent-color);
}

.footer-contacts_mai,
.footer-contacts_tel {
  color: rgba(255, 255, 255, 0.6);
}

/* footer-social */
.footer-social-text {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1428571429;
  text-transform: uppercase;
  color: var(--white-text-color);
  margin-top: 0;
  margin-bottom: 20px;
}

.footer-social-list-link {
  background-color: rgba(255, 255, 255, 0.1);
}

.footer-social-list-icon {
  width: 20px;
  height: 20px;
  fill: var(--white-text-color);
}

.footer-form {
  margin-left: auto;
}

.footer-form-title {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1428571429;
  text-transform: uppercase;
  color: var(--white-text-color);
}

.footer-form-subscribe {
  display: flex;
}

.footer-form-input {
  width: 358px;
  height: 50px;
  margin-right: 12px;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--white-text-color);
  background-color: var(--footer-background-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  transition: border-color var(--transition-dur-and-func);
}
.footer-form-input::placeholder {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-form-input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.footer-form-submit {
  display: flex;
  justify-content: center;
  width: 200px;
}

.footer-form-submit-icon {
  display: block;
  fill: var(--white-text-color);
  margin-left: 10px;
}

.examples-filter {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.examples-filter-button {
  display: inline-block;
  padding: 6px 22px;
  border: 0;
  color: var(--primary-text-color);
  background-color: var(--secondary-background-color);
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.625;
  letter-spacing: 0.03em;
  cursor: pointer;
  border-radius: 4px;
  text-align: center;
  transition: color var(--transition-dur-and-func), background-color var(--transition-dur-and-func), box-shadow var(--transition-dur-and-func);
}
.examples-filter-button:hover, .examples-filter-button:focus {
  color: var(--white-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.examples-filter-item:not(:last-child) {
  margin-right: 8px;
}

.examples-filter .current {
  color: var(--white-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.examples-projects {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.examples-projects-item {
  width: calc((100% - 60px) / 3);
}

.examples-projects-link {
  display: inline-block;
  color: inherit;
  transition: box-shadow var(--transition-dur-and-func);
}
.examples-projects-link:hover, .examples-projects-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.examples-projects-image {
  display: block;
}

.examples-project-text {
  padding-top: 20px;
  padding-left: 24px;
  padding-bottom: 20px;
  padding-right: 24px;
  border-right: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
  border-left: 1px solid #EEEEEE;
}

.examples-project-title {
  margin-top: 0;
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.examples-project-type {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.88;
}

.examples-projects-content {
  position: relative;
  overflow: hidden;
}

.examples-project-text-hidden {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5555555556;
  color: var(--white-text-color);
  background-color: rgba(33, 150, 243, 0.9);
  padding: 24px;
  margin: 0;
  transform: translateY(100%);
  transition: transform var(--transition-dur-and-func);
}
.examples-projects-link:hover .examples-project-text-hidden, .examples-projects-link:focus .examples-project-text-hidden {
  transform: translateY(0);
}/*# sourceMappingURL=main.css.map */