.logo--color_dark {
    color: #000000;
}

.page-header {
    position: relative;
    border-bottom: 1px solid #ECECEC;
}

.page-header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width: 767px) {
    .page-header__navigation,
    .site-nav {
        display: none;
    }

    .header-contacts {
        display: none;
    }
        
    .open-mobile-menu-btn {
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 0; 
        border: none;
        background-color: transparent;
        line-height: 0;
        cursor: pointer;
    }

    .open-mobile-menu-btn__icon {
        fill: var(--primary-text-color);
        cursor: pointer;
        transition: fill var(--transition-dur-and-func);

        &:hover,
        &:focus {
            fill: var(--accent-color);
        }
    }
}

@media screen and (min-width: 768px) {
    .open-mobile-menu-btn {
        display: none;
    }

    .page-header__navigation {
        display: block;
    }

    .site-nav {
        display: flex;
        margin-left: 87px;
    }

    .site-nav__item {
        position: relative;

        &:not(:last-child) {
         margin-right: 51px;
        }
    }

    .site-nav__link {
        display: block;
        padding-top: 32px;
        padding-bottom: 32px;

        color: var(--primary-text-color);
        @include font(14px, 500, 16px);
        letter-spacing: 0.02em;
        transition: color var(--transition-dur-and-func);

        &:hover,
        &:focus {
            color: var(--accent-color);
        }
    }

    .site-nav__link--current {
        color: var(--accent-color);

        &::after {
            content: "";
            box-sizing: border-box;
            position: absolute;
            bottom: 0;
            left: 0;
            transform: translateY(1px);
            width: 100%;
            height: 4px;
            background-color: var(--accent-color);
            border-radius: 2px;
        }
    }

    .header-contacts {
        display: block;
        margin-left: 96px;
    }

    .header-contacts__item:not(:last-child) {
        margin-bottom: 10px;
    }

    .header-contacts__link {
        display: flex;
        align-items: center;
        justify-content: start;

        color: var(--secondary-text-color);
        @include font(12px, 500, 14px);
        letter-spacing: 0.02em;

        transition: color var(--transition-dur-and-func);

        &:hover,
        &:focus {
            color: var(--accent-color);
        }
    }

    .header-contacts__icon {
        fill: currentColor;
        margin-right: 10px;
    }
}

@media screen and (min-width: 1200px) {
    .site-nav {
        margin-left: 92px;
    }

    .header-contacts {
        display: flex;
        align-items: center;
        margin-left: auto;
    }

    .header-contacts__item:not(:last-child) {
        margin-right: 30px;
        margin-bottom: 0;
    }

    .header-contacts__link {
        @include align;
        @include font(14px, 500, 16px);
    }
}