.examples-filter {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;    
}

.examples-filter-button {
    display: inline-block;
    padding: 6px 22px;
    border: 0;

    color: var(--primary-text-color);
    background-color: var(--secondary-background-color);
    font-family: inherit;
    @include font(16px, 500, 26px);
    letter-spacing: 0.03em;
    cursor: pointer;

    border-radius: 4px;
    text-align: center;

    transition: color var(--transition-dur-and-func),
        background-color var(--transition-dur-and-func),
        box-shadow var(--transition-dur-and-func);

    &:hover,
    &:focus {
        color: var(--white-text-color);
        background-color: var(--accent-color);
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 
            0px 1px 2px rgba(0, 0, 0, 0.08), 
            0px 2px 2px rgba(0, 0, 0, 0.12);
    }
}

.examples-filter-item:not(:last-child) {
    margin-right: 8px;
}

.examples-filter .current {
    color: var(--white-text-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 
        0px 1px 2px rgba(0, 0, 0, 0.08), 
        0px 2px 2px rgba(0, 0, 0, 0.12);
}