.team-section {
    background-color: var(--secondary-background-color);
}

.team-list {
    display: flex;
}

.team-list-position {
    width: calc((100% - 90px) / 4);
    background-color: var(--primary-background-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    &:not(:nth-child(4n)) {
        margin-right: 30px;
    }
}

.team-list-position-image {
    display: block;
}

.team-list-position-item {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;

    .member {
        margin-top: 0;
        margin-bottom: 10px;
        @include font(16px, 500, 19px);
    }

    .position {
        margin-top: 0;
        margin-bottom: 16px;
        color: var(--secondary-text-color);
        font-size: 16px;
        line-height: 1.19;        
    }
}


.team-social-list-link {
    background-color: var(--primary-background-color);
}

.team-social-list-icon {
    width: 20px;
    height: 20px;
    fill: #AFB1B8;

    transition: fill var(--transition-dur-and-func);

    .social-list__link:hover &,
    .social-list__link:focus & {
        fill: #FFFFFF;
    }
}
