html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    color: var(--primary-text-color);
    background-color: var(--primary-background-color);
    font-family: $fontPrimary;
    letter-spacing: 0.03em;
    font-size: 14px;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.list {
    margin: 0;
    padding: 0;
    list-style: none;
}